
!.vscode/extensions.json
!.vscode/launch.json
# Local environment files
# Local helper file(s)
# Local runtime/state (do not commit)
**/node_modules/**
.DS_Store
.devcontainer/.env*
.devcontainer/library
.env.local
.idea
.local/
.pnpm-store
.vscode/*
2q
automation/.local/
coverage
docker/library
docker/upload
mobile/*.jks
mobile/android/fastlane/report.xml
mobile/gradle.properties
mobile/ios/build
mobile/ios/fastlane/report.xml
mobile/libisar.dylib
mobile/openapi/.openapi-generator/FILES
mobile/openapi/doc
mobile/openapi/pubspec.lock
mobile/openapi/test
open-api/typescript-sdk/build
uploads
vite.config.js.timestamp-*
